<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for Android 12 (API Level 32) and Below -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <!-- Permissions for Android 13 (API Level 33) and Above -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" android:minSdkVersion="33"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartPhotoOrganizer">

        <activity
            android:name=".activity.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />

        <activity
            android:name=".activity.SimilarPhotoAlbumActivity"
            android:exported="false" />

        <activity
            android:name=".activity.SimilarPhotoGridActivity"
            android:parentActivityName=".activity.MainActivity"
            android:exported="false" />

        <activity
            android:name=".activity.BlurredPhotoActivity"
            android:exported="false" />

        <activity
            android:name=".activity.AutoAlbumActivity"
            android:exported="false" />

        <activity
            android:name=".activity.AutoAlbumDetailActivity"
            android:exported="false"
            android:label="Albüm İçeriği" />
        <activity
            android:name=".activity.PhotoViewerActivity"
            android:exported="false"
            android:label="Tam Ekran Görüntüleme"/>

    </application>

</manifest>
